<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuuko.MyBlog.mapper.BlogUserMapper">

    <resultMap id="BaseResultMap" type="com.yuuko.MyBlog.domain.BlogUser">
            <result property="uid" column="uid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="userAuthority" column="user_authority" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="emil" column="emil" jdbcType="VARCHAR"/>
            <result property="disable" column="disable" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        uid,username,password,
        avatar_url,user_authority,create_time,
        update_time,phone_number,emil,
        disable
    </sql>
</mapper>
